/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
 License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* _________________CUSTOM STYLES_________________*/


body {
    background-image: url(circles-dark.png);
    font-family: Verdana, Geneva, sans-serif;
}



h3 {
    font-size: 20px;
    font-family: sans-serif;
    text-align: left;
}

script {
    display: block;
}

#title {

    font-size: 36px;
    margin: 10px 40px;
    text-align: left; 
    text-decoration: underline;
}

.header {
    margin: 10px 40px;
}

.mainfeed{
    float: left;
    max-width: 600px;
    margin: 5px 10px;
}

.sidebar {
    width: 30%;
    float: right;
    background-color: white;
    margin: 0px 5px -40px 0px;
    box-shadow: -15px, 10px, 10px, grey;
}

.tweet {
    border: 1px solid grey;
    border-radius: 3px;
    background-color: hsla(198, 20%, 83%, .7);
    font-family: 'Georgia', serif;
    margin: 5px;
}

.sidebarUp{
    width: 70%;
    margin: 0px -20px 0px 0px;
}

.sidebarTweet {
    background-color: white;
}

.userName {
    font-style: italic;
    color: blue;
}

.tweetContent {
    text-indent: 15px;
}

.tweetTime {
    font-size: 10px;
    text-align: right;
    font-weight: 200;
}

#tagline {
    font-style: italic;
    text-indent: 40px;
    font-size: 12px;
}
