/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
 License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* _________________CUSTOM STYLES_________________*/


body {
    background-image: url(circles-dark.png);
    font-family: Verdana, Geneva, sans-serif;

}

.closeSidebar {
    margin-right: 5px;
    float: right;
}

h3 {
    font-size: 20px;
    font-family: sans-serif;
    text-align: left;
}

script {
    display: block;
}

#title {
    display: block;
    font-size: 36px;
    text-indent: 40px;
    text-align: left; 
    text-decoration: underline;
    text-decoration-color: white;
}

.header {
    margin: 0px 0px;
    width: 100%;
    background-color: white;
    display: block;
    padding-bottom: 25px;
    padding-top: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.mainFeed{
    margin: 10px 40px;
}

.sidebar {
    margin: 0px 40px 10px 40px;
    display: none;
    padding: 30px 0px;
    background-color: white;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.sidebarTitle {
    text-align: center;
    font-weight:bold;
    padding-bottom: 5px;
}

.tweet {
    border: 1px solid grey;
    border-radius: 3px;
    background-color: hsla(60, 100%, 90%, .5);
    font-family: 'Georgia', serif;
    margin: 5px;
}

.sidebarTweet {
    border: none;
    border-radius: 0;
    background-color: white;
    margin: 0px;
    border-bottom: 1px dashed black;
}

.userName {
    font-style: italic;
    color: blue;
    text-indent: 10px;
    margin-top: 4px;
}

.userName :hover {
    color: darkblue;
}

.tweetContent {
    padding: 10px;
}

.tweetTime {
    font-size: 12px;
    text-align: right;
    font-weight: 200;
    margin-bottom: 3px;
}

#tagline {
    display: inline-block;
    float: left;
    font-style: italic;
    text-indent: 60px;
    font-size: 12px;
}

#refresh {
    float: right;
    margin-right: 50px; 
}
